In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.set_option('display.max_rows',None)
pd.set_option('display.max_columns',None)

In [3]:
df = pd.read_csv('flats.csv')

In [4]:
df.sample(5)

,property_name,link,society,price,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating,property_id
908,3 BHK Flat in Sector 85 Gurgaon,https://www.99acres.com/3-bhk-bedroom-apartmen...,SS The Leaf3.8 ★,1.98 Crore,"₹ 8,256/sq.ft.",Super Built up area 2408(223.71 sq.m.)Built Up...,3 Bedrooms,4 Bathrooms,3 Balconies,Store Room,"Nnbbbbbbbbbb, Sector 85 Gurgaon, Gurgaon, Haryana",12nd of 26 Floors,West,1 to 5 Year Old,"['Sapphire 83 Mall', 'Dwarka Expressway', 'Cen...",This 3 bhk apartment is available for sale in ...,"['3 Fan', '3 Light', 'No AC', 'No Bed', 'No Ch...","['Centrally Air Conditioned', 'Water purifier'...","['Green Area4.5 out of 5', 'Construction4.5 ou...",D67564426
708,4 BHK Flat in Sector 111 Gurgaon,https://www.99acres.com/4-bhk-bedroom-apartmen...,Puri Diplomatic Greens4.0 ★,3.45 Crore,"₹ 11,694/sq.ft.",Super Built up area 2950(274.06 sq.m.),4 Bedrooms,5 Bathrooms,3+ Balconies,Servant Room,"N/a, Sector 111 Gurgaon, Gurgaon, Haryana",10th of 21 Floors,North,1 to 5 Year Old,"['Dwarka Sector 21 Metro Station', 'Gurgaon Dr...",Check out this 4 bhk apartment for sale in pur...,[],"['Security / Fire Alarm', 'Power Back-up', 'Fe...","['Green Area5 out of 5', 'Construction5 out of...",T69579124
1929,3 BHK Flat in Sohna,https://www.99acres.com/3-bhk-bedroom-apartmen...,Signature Global Park4.0 ★,94.99 Lac,"₹ 7,850/sq.ft.",Built Up area: 1210 (112.41 sq.m.),3 Bedrooms,2 Bathrooms,3+ Balconies,NaN,"P10 3rd Floor, Sohna, Gurgaon, Haryana",3rd of 4 Floors,East,0 to 1 Year Old,"['Sector 55-56 metro', 'Global city centre', '...","This is on the sohna main elevated road, ready...",[],"['Security / Fire Alarm', 'Lift(s)', 'Maintena...","['Green Area5 out of 5', 'Construction5 out of...",V70169280
2822,1 BHK Flat in Sector 80 Gurgaon,https://www.99acres.com/1-bhk-bedroom-apartmen...,Elan Mercado,85 Lac,"₹ 12,408/sq.ft.",Carpet area: 685 (63.64 sq.m.),1 Bedroom,1 Bathroom,1 Balcony,NaN,"Sector 80 Gurgaon, Gurgaon, Haryana",15th of 25 Floors,NaN,1 to 5 Year Old,"['Sapphire 83', 'Rampura Flyover', 'Laxmi Inte...",Fully serviced service apratment ready to rent...,"['1 Wardrobe', '1 Fan', '1 Sofa', '1 Exhaust F...","['Power Back-up', 'Lift(s)', 'Swimming Pool', ...",NaN,A67150216
1886,3 BHK Flat in Sector 99A Gurgaon,https://www.99acres.com/3-bhk-bedroom-apartmen...,Pareena Coban Residences,1.13 Crore,"₹ 5,658/sq.ft.",Super Built up area 1997(185.53 sq.m.)Built Up...,3 Bedrooms,5 Bathrooms,3 Balconies,"Servant Room,Others","Sector 99A Gurgaon, Gurgaon, Haryana",5th of 20 Floors,East,1 to 5 Year Old,"['Gopal Super Market', 'Little Need Super Mark...",This lovely 3 bhk apartment/flat in sector 99a...,"['2 Light', 'No AC', 'No Bed', 'No Chimney', '...","['Feng Shui / Vaastu Compliant', 'Security / F...","['Environment4 out of 5', 'Lifestyle3 out of 5...",O68920324

In [6]:
df.shape

(3017, 20)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3017 entries, 0 to 3016
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   property_name    3017 non-null   object
 1   link             3017 non-null   object
 2   society          3016 non-null   object
 3   price            3007 non-null   object
 4   area             3004 non-null   object
 5   areaWithType     3008 non-null   object
 6   bedRoom          3008 non-null   object
 7   bathroom         3008 non-null   object
 8   balcony          3008 non-null   object
 9   additionalRoom   1694 non-null   object
 10  address          3002 non-null   object
 11  floorNum         3006 non-null   object
 12  facing           2127 non-null   object
 13  agePossession    3007 non-null   object
 14  nearbyLocations  2913 non-null   object
 15  description      3008 non-null   object
 16  furnishDetails   2203 non-null   object
 17  features         2594 non-null   object
 18  rating           2676 non-null   object
 19  property_id      3008 non-null   object
dtypes: object(20)
memory usage: 471.5+ KB

In [8]:
df.duplicated().sum()

0

In [9]:
df.isnull().sum()

property_name         0
link                  0
society               1
price                10
area                 13
areaWithType          9
bedRoom               9
bathroom              9
balcony               9
additionalRoom     1323
address              15
floorNum             11
facing              890
agePossession        10
nearbyLocations     104
description           9
furnishDetails      814
features            423
rating              341
property_id           9
dtype: int64

In [10]:
df.drop(columns=['link','property_id'],inplace=True)

In [11]:
df.head()

,property_name,society,price,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,2 BHK Flat in Krishna Colony,maa bhagwati residency,45 Lac,"₹ 5,000/sq.ft.",Carpet area: 900 (83.61 sq.m.),2 Bedrooms,2 Bathrooms,1 Balcony,NaN,"Krishna Colony, Gurgaon, Haryana",4th of 4 Floors,West,1 to 5 Year Old,"['Chintapurni Mandir', 'State bank ATM', 'Pear...",So with lift.Maa bhagwati residency is one of ...,"['3 Fan', '4 Light', '1 Wardrobe', 'No AC', 'N...","['Feng Shui / Vaastu Compliant', 'Security / F...","['Environment4 out of 5', 'Safety4 out of 5', ..."
1,2 BHK Flat in Ashok Vihar,Apna Enclave,50 Lac,"₹ 7,692/sq.ft.",Carpet area: 650 (60.39 sq.m.),2 Bedrooms,2 Bathrooms,1 Balcony,NaN,"46b, Ashok Vihar, Gurgaon, Haryana",1st of 3 Floors,West,10+ Year Old,"['Chintapurni Mandir', 'Sheetla Mata Mandir', ...","Property situated on main road, railway statio...","['3 Wardrobe', '4 Fan', '1 Exhaust Fan', '1 Ge...","['Security / Fire Alarm', 'Maintenance Staff',...","['Environment4 out of 5', 'Safety4 out of 5', ..."
2,2 BHK Flat in Sohna,Tulsiani Easy in Homes,40 Lac,"₹ 6,722/sq.ft.",Carpet area: 595 (55.28 sq.m.),2 Bedrooms,2 Bathrooms,3 Balconies,NaN,"Sohna, Gurgaon, Haryana",12nd of 14 Floors,NaN,0 to 1 Year Old,"['Huda City Metro', 'Golf Course extn road', '...","This property is 15 km away from badshapur, gu...",NaN,"['Power Back-up', 'Feng Shui / Vaastu Complian...","['Environment4 out of 5', 'Safety4 out of 5', ..."
3,2 BHK Flat in Sector 61 Gurgaon,Smart World Orchard,1.47 Crore,"₹ 12,250/sq.ft.",Carpet area: 1200 (111.48 sq.m.),2 Bedrooms,2 Bathrooms,2 Balconies,Study Room,"Sector 61 Gurgaon, Gurgaon, Haryana",2nd of 4 Floors,NaN,Dec 2023,"['Sector 55-56 Metro station', 'Bestech Centra...",Near to metro station of sector 56 and opposit...,NaN,"['Security / Fire Alarm', 'Private Garden / Te...",NaN
4,2 BHK Flat in Sector 92 Gurgaon,Parkwood Westend,70 Lac,"₹ 5,204/sq.ft.",Super Built up area 1345(124.95 sq.m.),2 Bedrooms,2 Bathrooms,3 Balconies,Study Room,"Sector 92 Gurgaon, Gurgaon, Haryana",5th of 8 Floors,NaN,Under Construction,"['Yadav Clinic', 'Bangali Clinic', 'Dr. J. S. ...",We are the proud owners of this 2 bhk alongwit...,[],NaN,"['Environment5 out of 5', 'Safety3 out of 5', ..."

In [12]:
df.rename(columns={'area':'price_per_sqft'},inplace=True)
df.head(1)

,property_name,society,price,price_per_sqft,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,2 BHK Flat in Krishna Colony,maa bhagwati residency,45 Lac,"₹ 5,000/sq.ft.",Carpet area: 900 (83.61 sq.m.),2 Bedrooms,2 Bathrooms,1 Balcony,NaN,"Krishna Colony, Gurgaon, Haryana",4th of 4 Floors,West,1 to 5 Year Old,"['Chintapurni Mandir', 'State bank ATM', 'Pear...",So with lift.Maa bhagwati residency is one of ...,"['3 Fan', '4 Light', '1 Wardrobe', 'No AC', 'N...","['Feng Shui / Vaastu Compliant', 'Security / F...","['Environment4 out of 5', 'Safety4 out of 5', ..."

In [15]:
df['society'].value_counts().head(5)

society
SS The Leaf3.8 ★                             73
Tulip Violet4.3 ★                            40
Shapoorji Pallonji Joyville Gurugram4.0 ★    39
Signature Global Park4.0 ★                   36
Shree Vardhman Victoria3.8 ★                 35
Name: count, dtype: int64

In [16]:
df['society'].value_counts().shape

(638,)

In [17]:
import re
df['society'] = df['society'].apply(lambda name: re.sub(r'\d+(\.\d+)?\s?★', '',str(name)).strip()).str.lower()

In [19]:
df['society'].value_counts().head(5)

society
tulip violet                            75
ss the leaf                             74
shapoorji pallonji joyville gurugram    45
dlf new town heights                    38
signature global park                   36
Name: count, dtype: int64

In [21]:
# price
df['price'].value_counts().sample(5)

price
62.5 Lac      1
85.75 Lac     1
52 Lac        3
2.34 Crore    1
26.5 Lac      1
Name: count, dtype: int64

In [22]:
df = df[df['price'] != 'Price on Request']

In [23]:
def treat_price(x):
    if type(x) == float:
        return x
    else:
        if x[1] == 'Lac':
            return round(float(x[0])/100,2)
        else:
            return round(float(x[0]),2)

In [24]:
df['price'] = df['price'].str.split(' ').apply(treat_price)

In [26]:
df.sample(5)

,property_name,society,price,price_per_sqft,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
1049,3 BHK Flat in Sector 83 Gurgaon,vatika lifestyle homes,1.04,"₹ 5,699/sq.ft.",Super Built up area 1755(163.04 sq.m.)Built Up...,3 Bedrooms,2 Bathrooms,2 Balconies,NaN,"Block N, Sector 83 Gurgaon, Gurgaon, Haryana",2nd of 7 Floors,South-West,5 to 10 Year Old,"['Sapphire 83 Mall', 'NH – 08', 'Knowledge Tre...",This is a first-Floor unit the flat is a row u...,NaN,"['Security / Fire Alarm', 'Feng Shui / Vaastu ...","['Green Area4.5 out of 5', 'Construction4 out ..."
2510,3 BHK Flat in Sector 92 Gurgaon,apartment,0.75,"₹ 4,687/sq.ft.",Carpet area: 1600 (148.64 sq.m.),3 Bedrooms,4 Bathrooms,3 Balconies,Study Room,"Sector 92 Gurgaon, Gurgaon, Haryana",2nd of 4 Floors,East,5 to 10 Year Old,"['Yadav Clinic', 'Bangali Clinic', 'Dr. J. S. ...","Within 2-3 kms schools, malls, hospital are av...","['5 Fan', '7 Light', 'No AC', 'No Bed', 'No Ch...","['Security / Fire Alarm', 'Feng Shui / Vaastu ...","['Environment5 out of 5', 'Lifestyle4 out of 5..."
640,3 BHK Flat in Sector 83 Gurgaon,vatika gurgaon,1.12,"₹ 6,455/sq.ft.",Super Built up area 1735(161.19 sq.m.)Built Up...,3 Bedrooms,3 Bathrooms,2 Balconies,NaN,"Block E, Sector 83 Gurgaon, Gurgaon, Haryana",17th of 18 Floors,South,5 to 10 Year Old,"['Huda Metro Station (Gurugram)', 'Sapphire 83...","This is bedrooms, 3 bathrooms, and 2 balconies...","['3 Wardrobe', '5 Fan', '1 Exhaust Fan', '1 Ge...","['Security / Fire Alarm', 'Power Back-up', 'Fe...","['Green Area5 out of 5', 'Construction4.5 out ..."
1901,3 BHK Flat in Sector 109 Gurgaon,sbtl caladium,1.30,"₹ 6,914/sq.ft.",Super Built up area 1880(174.66 sq.m.),3 Bedrooms,2 Bathrooms,3 Balconies,NaN,"N/a, Sector 109 Gurgaon, Gurgaon, Haryana",16th of 19 Floors,East,5 to 10 Year Old,"['Palam Vihar Vyapar kendra', 'Chirag Hospital...",Sbtl caladium is one of the most popular desti...,NaN,"['Security / Fire Alarm', 'Power Back-up', 'Fe...","['Environment5 out of 5', 'Lifestyle4 out of 5..."
2300,3 BHK Flat in Sector 61 Gurgaon,smart world orchard,2.54,"₹ 15,500/sq.ft.",Carpet area: 1640 (152.36 sq.m.),3 Bedrooms,3 Bathrooms,3 Balconies,Store Room,"Sector 61 Gurgaon, Gurgaon, Haryana",2nd of 4 Floors,NaN,Dec 2023,"['Sector 55-56 Metro station', 'Bestech Centra...",Location and build quality and m3m brand,"['1 Modular Kitchen', 'No AC', 'No Bed', 'No C...","['Power Back-up', 'Lift(s)', 'Swimming Pool', ...",NaN

In [28]:
# price_per_sqrt
df['price_per_sqft'].sample(5)

214      ₹ 6,225/sq.ft.
145     ₹ 12,526/sq.ft.
328     ₹ 10,603/sq.ft.
1190     ₹ 8,771/sq.ft.
2183    ₹ 13,502/sq.ft.
Name: price_per_sqft, dtype: object

In [36]:
df['price_per_sqft'] = df['price_per_sqft'].str.split('/').str.get(0).str.replace('₹','').str.replace(',','').str.strip().astype('float')

In [37]:
df.head(3)

,property_name,society,price,price_per_sqft,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,2 BHK Flat in Krishna Colony,maa bhagwati residency,0.45,5000.0,Carpet area: 900 (83.61 sq.m.),2 Bedrooms,2 Bathrooms,1 Balcony,NaN,"Krishna Colony, Gurgaon, Haryana",4th of 4 Floors,West,1 to 5 Year Old,"['Chintapurni Mandir', 'State bank ATM', 'Pear...",So with lift.Maa bhagwati residency is one of ...,"['3 Fan', '4 Light', '1 Wardrobe', 'No AC', 'N...","['Feng Shui / Vaastu Compliant', 'Security / F...","['Environment4 out of 5', 'Safety4 out of 5', ..."
1,2 BHK Flat in Ashok Vihar,apna enclave,0.50,7692.0,Carpet area: 650 (60.39 sq.m.),2 Bedrooms,2 Bathrooms,1 Balcony,NaN,"46b, Ashok Vihar, Gurgaon, Haryana",1st of 3 Floors,West,10+ Year Old,"['Chintapurni Mandir', 'Sheetla Mata Mandir', ...","Property situated on main road, railway statio...","['3 Wardrobe', '4 Fan', '1 Exhaust Fan', '1 Ge...","['Security / Fire Alarm', 'Maintenance Staff',...","['Environment4 out of 5', 'Safety4 out of 5', ..."
2,2 BHK Flat in Sohna,tulsiani easy in homes,0.40,6722.0,Carpet area: 595 (55.28 sq.m.),2 Bedrooms,2 Bathrooms,3 Balconies,NaN,"Sohna, Gurgaon, Haryana",12nd of 14 Floors,NaN,0 to 1 Year Old,"['Huda City Metro', 'Golf Course extn road', '...","This property is 15 km away from badshapur, gu...",NaN,"['Power Back-up', 'Feng Shui / Vaastu Complian...","['Environment4 out of 5', 'Safety4 out of 5', ..."

In [40]:
# bedroom
df[df['bedRoom'].isnull()]

,property_name,society,price,price_per_sqft,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
2849,2 BHK Flat in Sector 107 Gurgaon,signature global solera,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2850,4 BHK Flat in Sector 53 Gurgaon,tulip monsella,NaN,33198.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2851,2 BHK Flat in New Palam Vihar,my home,NaN,4400.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2852,2 BHK Flat in Sohna,breez global hill view,NaN,5470.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2922,3 BHK Flat in Sector 99A Gurgaon,pareena coban residences,NaN,5759.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2923,1 BHK Flat in Golf Course Ext Road,ikon tower baani city centre,NaN,12437.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2924,2 BHK Flat in Sector 89 Gurgaon,greenopolis,NaN,4820.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2926,4 BHK Flat in C Block Sushant Lok Phase 1,maple heights,NaN,8888.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2927,2 BHK Flat in Sector 99 Gurgaon,assotech blith,NaN,6593.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [41]:
df = df[~df['bedRoom'].isnull()]

In [43]:
df.shape

(2997, 18)

In [49]:
df['bedRoom'] = df['bedRoom'].str.split(' ').str.get(0).astype('int')

C:\Users\acer\AppData\Local\Temp\ipykernel_9112\1468100853.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['bedRoom'] = df['bedRoom'].str.split(' ').str.get(0).astype('int')

In [54]:
df.head(3)

,property_name,society,price,price_per_sqft,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,2 BHK Flat in Krishna Colony,maa bhagwati residency,0.45,5000.0,Carpet area: 900 (83.61 sq.m.),2,2 Bathrooms,1 Balcony,NaN,"Krishna Colony, Gurgaon, Haryana",4th of 4 Floors,West,1 to 5 Year Old,"['Chintapurni Mandir', 'State bank ATM', 'Pear...",So with lift.Maa bhagwati residency is one of ...,"['3 Fan', '4 Light', '1 Wardrobe', 'No AC', 'N...","['Feng Shui / Vaastu Compliant', 'Security / F...","['Environment4 out of 5', 'Safety4 out of 5', ..."
1,2 BHK Flat in Ashok Vihar,apna enclave,0.50,7692.0,Carpet area: 650 (60.39 sq.m.),2,2 Bathrooms,1 Balcony,NaN,"46b, Ashok Vihar, Gurgaon, Haryana",1st of 3 Floors,West,10+ Year Old,"['Chintapurni Mandir', 'Sheetla Mata Mandir', ...","Property situated on main road, railway statio...","['3 Wardrobe', '4 Fan', '1 Exhaust Fan', '1 Ge...","['Security / Fire Alarm', 'Maintenance Staff',...","['Environment4 out of 5', 'Safety4 out of 5', ..."
2,2 BHK Flat in Sohna,tulsiani easy in homes,0.40,6722.0,Carpet area: 595 (55.28 sq.m.),2,2 Bathrooms,3 Balconies,NaN,"Sohna, Gurgaon, Haryana",12nd of 14 Floors,NaN,0 to 1 Year Old,"['Huda City Metro', 'Golf Course extn road', '...","This property is 15 km away from badshapur, gu...",NaN,"['Power Back-up', 'Feng Shui / Vaastu Complian...","['Environment4 out of 5', 'Safety4 out of 5', ..."

In [55]:
df['bathroom'].isnull().sum()

0

In [56]:
df['bathroom'] = df['bathroom'].str.split(' ').str.get(0).astype('int')

C:\Users\acer\AppData\Local\Temp\ipykernel_9112\1455936528.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['bathroom'] = df['bathroom'].str.split(' ').str.get(0).astype('int')

In [57]:
df.sample(1)

,property_name,society,price,price_per_sqft,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
2408,1 BHK Flat in Sohna,breez global heights,0.25,7002.0,Super Built up area 414(38.46 sq.m.)Carpet are...,1,1,1 Balcony,NaN,"106, Sohna, Gurgaon, Haryana",1st of 10 Floors,NaN,1 to 5 Year Old,"['Raheja Mall', 'Golf Course Extension Road', ...",The property is registered and freehold. The b...,NaN,"['Feng Shui / Vaastu Compliant', 'Intercom Fac...","['Green Area5 out of 5', 'Construction5 out of..."

In [59]:
df['balcony'].isnull().sum()

0

In [60]:
df['balcony'] = df['balcony'].str.split(' ').str.get(0).str.replace('No','0')

C:\Users\acer\AppData\Local\Temp\ipykernel_9112\3830839697.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['balcony'] = df['balcony'].str.split(' ').str.get(0).str.replace('No','0')

In [61]:
# additionalRoom
df['additionalRoom'].value_counts()

additionalRoom
Servant Room                                     629
Study Room                                       232
Others                                           179
Pooja Room                                       132
Study Room,Servant Room                           81
Store Room                                        76
Pooja Room,Servant Room                           60
Servant Room,Others                               52
Servant Room,Pooja Room                           30
Study Room,Others                                 27
Pooja Room,Study Room,Servant Room,Others         25
Pooja Room,Study Room,Servant Room                24
Servant Room,Store Room                           19
Pooja Room,Study Room                             13
Pooja Room,Study Room,Servant Room,Store Room     12
Study Room,Pooja Room                              8
Servant Room,Study Room                            8
Study Room,Servant Room,Store Room                 7
Pooja Room,Store Room                              6
Pooja Room,Others                                  6
Others,Servant Room                                6
Servant Room,Study Room,Pooja Room,Store Room      6
Pooja Room,Servant Room,Others                     6
Study Room,Servant Room,Others                     5
Pooja Room,Store Room,Study Room,Servant Room      4
Pooja Room,Study Room,Store Room                   4
Servant Room,Pooja Room,Study Room,Store Room      3
Study Room,Pooja Room,Store Room                   3
Store Room,Servant Room                            3
Servant Room,Study Room,Store Room                 2
Pooja Room,Study Room,Others                       2
Study Room,Pooja Room,Servant Room                 2
Servant Room,Others,Store Room,Pooja Room          2
Servant Room,Others,Pooja Room                     2
Study Room,Servant Room,Pooja Room,Store Room      2
Others,Study Room                                  1
Servant Room,Study Room,Others                     1
Servant Room,Pooja Room,Study Room                 1
Servant Room,Study Room,Pooja Room                 1
Store Room,Pooja Room,Servant Room                 1
Servant Room,Pooja Room,Store Room,Study Room      1
Study Room,Store Room                              1
Store Room,Study Room                              1
Servant Room,Pooja Room,Store Room                 1
Study Room,Servant Room,Store Room,Pooja Room      1
Study Room,Servant Room,Pooja Room                 1
Pooja Room,Servant Room,Study Room,Store Room      1
Pooja Room,Study Room,Store Room,Servant Room      1
Store Room,Pooja Room                              1
Name: count, dtype: int64

In [62]:
df['additionalRoom'].isnull().sum()

1305

In [63]:
df['additionalRoom'].fillna('not available',inplace=True)

C:\Users\acer\AppData\Local\Temp\ipykernel_9112\1615843200.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['additionalRoom'].fillna('not available',inplace=True)

In [64]:
df['additionalRoom'] = df['additionalRoom'].str.lower()

C:\Users\acer\AppData\Local\Temp\ipykernel_9112\4218856625.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['additionalRoom'] = df['additionalRoom'].str.lower()

In [66]:
df['floorNum'].head(5)

0      4th   of 4 Floors
1      1st   of 3 Floors
2    12nd   of 14 Floors
3      2nd   of 4 Floors
4      5th   of 8 Floors
Name: floorNum, dtype: object

In [68]:
df['floorNum'].isnull().sum()

2

In [69]:
df[df['floorNum'].isnull()]

,property_name,society,price,price_per_sqft,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
181,3 BHK Flat in Dwarka Expressway Gurgaon,experion heartsong,1.08,6150.0,Built Up area: 1758 (163.32 sq.m.),3,3,0,not available,"604, Tower B-3, 6th Floor,Sector 108, Dwarka E...",NaN,NaN,Under Construction,NaN,A property by one of the most reputed builders...,[],NaN,NaN
2766,2 BHK Flat in Sector 78 Gurgaon,nan,0.60,3692.0,Built Up area: 1625 (150.97 sq.m.),2,2,0,not available,"Gurgaon, Sector 78 Gurgaon, Gurgaon, Haryana",NaN,NaN,Under Construction,NaN,The property is under construction it's by rah...,[],NaN,"['Safety4 out of 5', 'Lifestyle4 out of 5', 'E..."

In [73]:
df['floorNum'] = df['floorNum'].str.split(' ').str.get(0).str.replace('Ground','0').str.replace('Basement','-1').str.replace('Lower','0').str.extract(r'(\d+)')

C:\Users\acer\AppData\Local\Temp\ipykernel_9112\2785357549.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['floorNum'] = df['floorNum'].str.split(' ').str.get(0).str.replace('Ground','0').str.replace('Basement','-1').str.replace('Lower','0').str.extract(r'(\d+)')

In [74]:
df.sample(3)

,property_name,society,price,price_per_sqft,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
595,3 BHK Flat in Sector 90 Gurgaon,dlf new town heights,1.25,6476.0,Super Built up area 1930(179.3 sq.m.)Built Up ...,3,3,3+,"pooja room,servant room","Middle Floor, Sector 90 Gurgaon, Gurgaon, Haryana",17,South-East,1 to 5 Year Old,"['Manish Gallexie 91', 'NH-8 IMT Manesar', 'RH...",Dlf new town heights sector 90Project highligh...,NaN,"['Feng Shui / Vaastu Compliant', 'Security / F...","['Green Area5 out of 5', 'Construction4 out of..."
2855,2 BHK Flat in Sohna,breez global hill view,0.32,5470.0,Built Up area: 1000 (92.9 sq.m.)Carpet area: 5...,2,2,1,not available,"1701 & 1708, Sohna, Gurgaon, Haryana",17,NaN,0 to 1 Year Old,"['Huda City Centre', 'Omaxe City Centre', 'Nin...",Both adjacent properties available which can b...,[],"['Feng Shui / Vaastu Compliant', 'Security / F...","['Safety4 out of 5', 'Lifestyle4 out of 5', 'E..."
2076,3 BHK Flat in Sector 70A Gurgaon,bptp astaire gardens,1.20,7058.0,Super Built up area 1700(157.94 sq.m.)Built Up...,3,3,3+,not available,"Sector 70A Gurgaon, Gurgaon, Haryana",2,NaN,1 to 5 Year Old,"['Sector 54 Chowk Metro Station', 'Airia Mall'...",Having very good quality of wooden work and it...,"['5 Fan', '1 Exhaust Fan', '1 Dining Table', '...","['Intercom Facility', 'Lift(s)', 'Swimming Poo...","['Green Area4 out of 5', 'Construction5 out of..."

In [75]:
df['facing'].value_counts()

facing
North-East    505
East          490
North         301
South         203
West          183
North-West    162
South-East    144
South-West    135
Name: count, dtype: int64

In [76]:
df['facing'].isnull().sum()

874

In [77]:
df['facing'].fillna('NA',inplace=True)

C:\Users\acer\AppData\Local\Temp\ipykernel_9112\3692945726.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['facing'].fillna('NA',inplace=True)

In [78]:
df['facing'].isnull().sum()

0

In [80]:
# create new columns
df.insert(loc=4,column='area',value=round((df['price']*10000000)/df['price_per_sqft']))

In [81]:
df.insert(loc=1,column='property_type',value='flat')

In [83]:
df.head(2)

,property_name,property_type,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,2 BHK Flat in Krishna Colony,flat,maa bhagwati residency,0.45,5000.0,900.0,Carpet area: 900 (83.61 sq.m.),2,2,1,not available,"Krishna Colony, Gurgaon, Haryana",4,West,1 to 5 Year Old,"['Chintapurni Mandir', 'State bank ATM', 'Pear...",So with lift.Maa bhagwati residency is one of ...,"['3 Fan', '4 Light', '1 Wardrobe', 'No AC', 'N...","['Feng Shui / Vaastu Compliant', 'Security / F...","['Environment4 out of 5', 'Safety4 out of 5', ..."
1,2 BHK Flat in Ashok Vihar,flat,apna enclave,0.50,7692.0,650.0,Carpet area: 650 (60.39 sq.m.),2,2,1,not available,"46b, Ashok Vihar, Gurgaon, Haryana",1,West,10+ Year Old,"['Chintapurni Mandir', 'Sheetla Mata Mandir', ...","Property situated on main road, railway statio...","['3 Wardrobe', '4 Fan', '1 Exhaust Fan', '1 Ge...","['Security / Fire Alarm', 'Maintenance Staff',...","['Environment4 out of 5', 'Safety4 out of 5', ..."

In [84]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2997 entries, 0 to 3016
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   property_name    2997 non-null   object
 1   property_type    2997 non-null   object
 2   society          2997 non-null   object
 3   price            2996 non-null   float64
 4   price_per_sqft   2996 non-null   float64
 5   area             2996 non-null   float64
 6   areaWithType     2997 non-null   object
 7   bedRoom          2997 non-null   int32
 8   bathroom         2997 non-null   int32
 9   balcony          2997 non-null   object
 10  additionalRoom   2997 non-null   object
 11  address          2991 non-null   object
 12  floorNum         2995 non-null   object
 13  facing           2997 non-null   object
 14  agePossession    2996 non-null   object
 15  nearbyLocations  2906 non-null   object
 16  description      2997 non-null   object
 17  furnishDetails   2200 non-null   object
 18  features         2590 non-null   object
 19  rating           2668 non-null   object
dtypes: float64(3), int32(2), object(15)
memory usage: 468.3+ KB

In [85]:
df.shape

(2997, 20)

In [86]:
df.to_csv('flats_cleaned.csv',index=False)

In [87]:
df1 = pd.read_csv('house_cleaned.csv')

In [88]:
df1.head(1)

,property_name,property_type,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,5 Bedroom House for sale in Sector 70A Gurgaon,house,bptp visionnaire,5.25,20115.0,2610.0,Plot area 290(242.48 sq.m.),5,4,3+,servant room,"29b, Sector 70A Gurgaon, Gurgaon, Haryana",3.0,North-East,0 to 1 Year Old,"['Good Earth City Center 2', 'Kunskapsskolan I...",Do you wish to buy an independent house in sec...,"['1 Wardrobe', '1 Fan', '1 Exhaust Fan', '1 Ge...","['Feng Shui / Vaastu Compliant', 'Private Gard...","['Environment5 out of 5', 'Lifestyle4 out of 5..."

# merge flats

In [89]:
flats = pd.read_csv('flats_cleaned.csv')
house = pd.read_csv('house_cleaned.csv')
df = pd.concat([flats,house],ignore_index=True)

In [90]:
# shuffle the dataset
df = df.sample(df.shape[0],ignore_index=True)

In [91]:
df.head(5)

,property_name,property_type,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,3 BHK Flat in Sector 83 Gurgaon,flat,vatika gurgaon,1.25,6313.0,1980.0,Super Built up area 1980(183.95 sq.m.),3,3,2,servant room,"1024, Sector 83 Gurgaon, Gurgaon, Haryana",2.0,West,1 to 5 Year Old,"['Huda Metro Station (Gurugram)', 'Sapphire 83...",Looking for a 3 bhk property for sale in gurga...,NaN,"['Security / Fire Alarm', 'Feng Shui / Vaastu ...","['Green Area5 out of 5', 'Construction4.5 out ..."
1,6 Bedroom House for sale in New Palam Vihar Ph...,house,independent,2.00,14914.0,1341.0,Plot area 1341(124.58 sq.m.),6,4,3,"pooja room,study room","New Palam Vihar Phase 1, Gurgaon, Haryana",3.0,East,1 to 5 Year Old,"['Palam Vihar Vyapar kendra', 'Palam triangle'...",East facing 2 fully made floor plus terrace. P...,"['6 Wardrobe', '9 Fan', '1 Exhaust Fan', '2 Ge...","['Feng Shui / Vaastu Compliant', 'Private Gard...",NaN
2,3 BHK Flat in Sector 106 Gurgaon,flat,paras dews,1.17,6647.0,1760.0,Super Built up area 1760(163.51 sq.m.)Built Up...,3,4,3+,servant room,"Sector 106 Gurgaon, Gurgaon, Haryana",12.0,West,1 to 5 Year Old,"['MG Road Metro Station', 'NeoSquare Shopping ...",This 3 bhk apartment is available for sale in ...,"['1 Light', 'No AC', 'No Bed', 'No Chimney', '...","['Feng Shui / Vaastu Compliant', 'Security / F...",NaN
3,4 BHK Flat in Sector 102 Gurgaon,flat,shapoorji pallonji joyville gurugram,2.40,10545.0,2276.0,Super Built up area 2162(200.86 sq.m.),4,4,3+,not available,"N/a, Sector 102 Gurgaon, Gurgaon, Haryana",15.0,North-East,1 to 5 Year Old,"['Khan Market', 'The Esplanade Mall', 'Dwarka ...","Situated in sector 102 gurgaon, shapoorji pall...",[],"['Security / Fire Alarm', 'Feng Shui / Vaastu ...","['Green Area4 out of 5', 'Construction5 out of..."
4,3 BHK Flat in Sector 69 Gurgaon,flat,tulip violet,1.65,8872.0,1860.0,Built Up area: 1578 (146.6 sq.m.),3,3,2,not available,"Sector 69 Gurgaon, Gurgaon, Haryana",1.0,NaN,1 to 5 Year Old,"['Sri Radhe Krishna Temple', 'Icici bank ATM',...","3 bath, semi-Furnished, 1st floor (Of 18), ove...","['3 Wardrobe', '4 Fan', '1 Exhaust Fan', '2 Ge...","['Security / Fire Alarm', 'Intercom Facility',...","['Environment4 out of 5', 'Lifestyle4 out of 5..."

In [92]:
df.to_csv('gurgoan_properties.csv',index=False)